<%= render partial: "bookmarks/filter" %>
<ul class="relative z-0 divide-y divide-gray-200 border-b border-gray-200" data-target='bookmarks.list'>
  <% if @bookmarks.present? %>
    <% @bookmarks.each do |bookmark| %>
      <%= render partial: "bookmarks/bookmark", object: bookmark.only_first, locals: {bookmark_self: bookmark} %>
    <% end %>
  <% else %>
    <div class="py-4 lg:py-8 relative hover:bg-gray-50 text-sm text-gray-500"><%= t("empty_data") %></div>
  <% end %>
</ul>
<%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
