<div class="pb-4 lg:pb-8 border-gray-200 text-gray-700">
  <div class="flex items-center space-x-2 lg:space-x-4">
    <div @click.away="open = false" class="relative" x-data="{ open: false }">
      <div>
        <span class="rounded-md shadow-sm">
          <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-2 py-1 lg:px-4 lg:py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" id="options-menu" aria-haspopup="true" aria-expanded="true">
            <%= t(filter_dt) %>
            <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </span>
      </div>
      <div x-show="open" x-description="Profile dropdown panel, show/hide based on dropdown state." x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-left absolute left-0 mt-2 w-48 rounded-md shadow-lg z-10" style="display: none;">
        <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
          <% valid_filter_dts.each do |filter| %>
            <%= filter_link_to_active t(filter), root_path(params.permit(:dt, :tag, :bookmark_lang).merge(dt: filter)), filter, class: "block px-2 py-1 lg:px-4 lg:py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
          <% end %>
        </div>
      </div>
    </div>
    <div @click.away="open = false" class="relative" x-data="{ open: false }">
      <div>
        <span class="rounded-md shadow-sm">
          <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-2 py-1 lg:px-4 lg:py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" id="options-menu" aria-haspopup="true" aria-expanded="true">
            <%= t(filter_bookmark_lang) %>
            <svg class="-mr-1 ml-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </span>
      </div>
      <div x-show="open" x-description="Profile dropdown panel, show/hide based on dropdown state." x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-left absolute left-0 mt-2 w-48 rounded-md shadow-lg z-10" style="display: none;">
        <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
          <% valid_filter_bookmark_langs.each do |filter| %>
            <%= link_to t(filter), root_path(params.permit(:dt, :tag, :bookmark_lang).merge(bookmark_lang: filter)), class: "#{'bg-gray-200' if filter == filter_bookmark_lang} block px-2 py-1 lg:px-4 lg:py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>