<div class="mb-4 lg:flex-shrink-0" >
  <div class="lg:pl-4 w-full">
    <div class="">
      <div class="px-1 pt-6 pb-2">
        <h2 class="text-sm leading-5 font-semibold"><%= t("similar_bookmarks") %></h2>
      </div>
      <div class="px-1">
        <% SimilarByTag.call(bookmark).result.each do |bookmark| %>
          <div class="mb-1 flex items-center space-x-2">
            <% if bookmark.favicon_local.attached? %>
              <span>
                <%= image_tag(bookmark.favicon_local, class: "h-4 w-4") %>
              </span>
            <% else %>
              <span>
                <%= lavatar_tag(bookmark.letter_char, 16, class: "w-4 h-4") %>
              </span>
            <% end %>
            <span class="block break-all">
              <h2 class="text-sm font-medium leading-5">
                <%= link_to bookmark.title_or_url, bookmark_path(bookmark)  %>
              </h2>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>