<div class="lg:flex-shrink-0 lg:w-64 bg-white">
  <div class="lg:pl-4">
    <div class="space-y-4 lg:space-y-8">
      <%= render partial: "users/top_hackers" %>
      <%= render partial: "users/top_active_hackers" %>
    </div>
  </div>
</div>