<div class="hidden lg:block lg:flex-shrink-0 lg:w-64 lg:border-r lg:border-gray-200 bg-white">
  <div class="lg:pr-4">
    <div class="space-y-4 lg:space-y-8">
      <%= render partial: "users/top_hackers" %>
      <%= render partial: "users/top_active_hackers" %>
    </div>
  </div>
</div>