

<!-- 3 column wrapper -->
<div class="flex-grow w-full max-w-7xl mx-auto">
  <!-- Left sidebar & main wrapper -->
  <div class="flex min-w-0 bg-white">
    <%= render "bookmarks/user_side" %>

    <!-- Projects List -->
    <div class="bg-white w-full" data-controller='bookmarks'>
      <div class="py-4 lg:pl-4 lg:py-8">
        <% if current_user %>
          <%= render template: "bookmarks/new" %>
        <% end %>
      
        <div data-controller="listing" data-target="listing.container">
          <%= render partial: "bookmarks/bookmarks_with_pagination" %>
        </div>
      </div>
    </div>
  </div>
</div>
