<% if @tag.present? %>
  <% title(@tag) %>
<% elsif @query.present %>
  <% title(t("search_results", query: @query)) %>
<% end %>
<!-- Left sidebar & main wrapper -->
<div class="flex space-x-4">
  <!-- Projects List -->
  <div data-controller="bookmarks" class="flex-auto rounded-primary border border-color-primary">
    <div data-controller="listing" data-target="listing.container">
      <%= render "bookmarks/bookmarks_with_pagination", suggest_tags: @suggest_tags, lang: @lang %>
    </div>
  </div>
  <div class="hidden lg:block w-80">
    <%= render "bookmarks/user_side", followed_tags: @followed_tags, unfollowed_tags: @unfollowed_tags %>
  </div>
</div>
