<%= form_with(model: Bookmark.new, url: bookmarks_path, class: 'w-full', data: { action: 'ajax:success->bookmarks#append' }) do |f| %>
  <div class="flex items-center border-b py-2">
    <%= f.url_field :url, placeholder: 'https://', class: "appearance-none bg-transparent border-none flex-1 text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none", data: { target: 'bookmarks.input' } %>

    <span class="inline-flex rounded-md shadow-sm">
      <%= f.button "Submit", class: "inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150 mr-2", type: 'submit', data: {disable_with: 'Waiting...'} do  %>
          <svg class="-ml-0.5 mr-2 h-4 w-4" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
            <path d="M14.5.5l.46.197a.5.5 0 00-.657-.657L14.5.5zm-14 6l-.197-.46a.5.5 0 00-.06.889L.5 6.5zm8 8l-.429.257a.5.5 0 00.889-.06L8.5 14.5zM14.303.04l-14 6 .394.92 14-6-.394-.92zM.243 6.93l5 3 .514-.858-5-3-.514.858zM5.07 9.757l3 5 .858-.514-3-5-.858.514zm3.889 4.94l6-14-.92-.394-6 14 .92.394zM14.146.147l-9 9 .708.707 9-9-.708-.708z" fill="currentColor"></path>
          </svg><%= t("send") %>
      <% end %>
    </span>
  </div>
<% end %>

