<%= form_with(url: bookmark_comments_path(bookmark), method: :post, class: "grid grid-cols-1 row-gap-6") do |f| %>
  <div>
    <div class="relative rounded-md shadow-sm">
      <%= f.text_area :comment, class: "form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150", rows: 4, data: { target: 'comments.input' } %>
    </div>
  </div>
  <div class="">
    <span class="inline-flex rounded-md shadow-sm">
      <%= f.button t("comment"), type: :submit, class: "btn-primary", data: { disable_with: disable_with_spinner(t("comment")) }  %>
    </span>
  </div>
<% end %>
