<p>
  You have a new comment in <%= link_to @bookmark.title_or_url, bookmark_url(@bookmark, n_id: @record.id) %>
</p>
<hr/>
<p>
  You can disable email notification here: <%= link_to "Email Notification Setting", setting_users_url %>
</p>
