<% title(t("notification")) %>

<div class="overflow-hidden border border-color-primary rounded-primary">
  <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
    <div class="flex justify-between items-center">
      <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
        <%= t("notification") %>
      </h3>
      <div>
        <%= link_to t("clear_all"), clear_all_notifications_path, method: :post, class: "btn-cancel", remote: true, data: {disable_with: disable_with_spinner(t("clear_all"))} %>
        <%= link_to t("read_all"), read_all_notifications_path, method: :post, class: "btn-primary", remote: true, data: {disable_with: disable_with_spinner(t("read_all"))} %>
      </div>
    </div>
  </div>
  <div class="padding-primary">
    <div data-controller="listing" data-target="listing.container">
      <%= render partial: "notifications/list" %>
    </div>
  </div>
</div>
