<div class="pb-4 lg:pb-8 border-gray-200">
  <div class="flex items-center justify-start">
    <span class="relative z-0 inline-flex shadow-sm rounded-md">
      <%= hacker_link_to_active t("created"), user_path(params.permit(:type, :tag).merge(type: :created)), :created, type: "button", class: "relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= hacker_link_to_active t("likes"), user_path(params.permit(:type, :tag).merge(type: :likes)), :likes, type: 'button', class: "-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= hacker_link_to_active t("subscriptions"), user_path(params.permit(:type, :tag).merge(type: :subscriptions)), :subscriptions, type: 'button', class: "-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= hacker_link_to_active t("followings"), user_path(user, params.permit(:type, :tag).merge(type: :followings)), :followings, type: "button", class: "-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>
    </span>

  </div>
</div>