<ul class="mx-auto grid grid-cols-3 col-gap-4 row-gap-8 sm:grid-cols-4 md:col-gap-6 lg:max-w-5xl lg:col-gap-8 lg:row-gap-12 xl:grid-cols-6" data-target='bookmarks.list'>
  <% @users.each do |user| %>
    <li>
      <div class="space-y-4">
        <%= link_to image_tag(user.avatar_url, title: user.username, alt: user.username, class: "mx-auto h-16 w-16 rounded-full lg:w-24 lg:h-24"), user_path(user) %>
        <div class="space-y-2">
          <div class="text-xs leading-4 font-medium lg:text-sm lg:leading-5">
            <h4><%= user.username %></h4>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>