<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Top Hackers
  </h3>
</div>
<div class="space-y-8 sm:space-y-0 sm:flex sm:justify-between sm:items-center xl:block xl:space-y-8">
  <div class="flex flex-wrap">
    <% User.order(score: :desc).limit(18).each do |user| %>
      <div class="h-18 w-18" data-controller="userhover" >
        <%= link_to image_tag(user.avatar_url, class: "h-12 w-12 m-3 rounded-full"), user_path(user) %>
      </div>
    <% end %>
  </div>
</div>