<div class="border border-color-primary rounded-primary">
  <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
    <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
      <%= t("top_hackers") %>
    </h3>
  </div>
  <div class="flex flex-wrap padding-primary">
    <% User.with_attached_avatar.order(score: :desc).limit(48).each do |user| %>
      <div class="" data-controller="userhover" >
        <%= link_to image_tag(user.avatar_url, title: user.username, alt: user.username, class: "h-7 w-7 rounded-full mr-2 mb-2"), user_path(user) %>
      </div>
    <% end %>
  </div>
</div>
