<div class="bg-white border-b border-gray-200">
  <h3 class="mr-2 pb-4 lg:pb-8 text-lg leading-6 font-medium text-gray-900">
    <%= t("active_hackers") %>
  </h3>
</div>
<div class="flex flex-wrap">
  <% User.order(updated_at: :desc).limit(18).each do |user| %>
    <div>
      <%= link_to image_tag(user.avatar_url, class: "h-12 w-12 rounded-full mr-2 mb-2"), user_path(user) %>
    </div>
  <% end %>
</div>