<!-- Account profile -->
<div class="hidden lg:block lg:flex-shrink-0 lg:w-64 lg:border-r lg:border-gray-200 bg-white">
  <div class="lg:pt-8 lg:pr-4 w-full items-center justify-between">
    <%= render partial: "users/profile", locals: {user: @user}%>
  </div>
</div>