<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-8 sm:space-y-12">
      <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl"><%= t("top_hackers") %></h2>
      </div>
      <div data-controller="listing" data-target="listing.container">
        <%= render partial: "users/list" %>
      </div>
    </div>
  </div>
</div>
