<% title(t("top_hackers")) %>

<div class="border border-color-primary rounded-primary">
  <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
    <div class="flex justify-between items-center">
      <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
        <%= t("top_hackers") %>
      </h3>
    </div>
  </div>
  <div class="padding-primary">
    <div data-controller="listing" data-target="listing.container">
      <%= render partial: "users/list" %>
    </div>
  </div>
</div>
