

<!-- 3 column wrapper -->
<div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 lg:flex">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 min-w-0 bg-white xl:flex">
    <%= render partial: "users/user_side", locals: {user: @user } %>

    <!-- Projects List -->
    <div class="bg-white lg:min-w-0 lg:flex-1" data-controller='bookmarks'>
      <% if current_user %>
        <%= render template: "bookmarks/new" %>
      <% end %>
      
      <div data-controller="listing" data-target="listing.container">
        <%= render partial: "users/bookmarks_with_pagination" %>
      </div>
    </div>
  </div>
  <%= render partial: "common/extension_bar" %>
</div>
