<!-- 3 column wrapper -->
<div class="">
  <!-- Left sidebar & main wrapper -->
  <div class="lg:flex min-w-0 bg-white">
    <%= render partial: "users/user_side", locals: {user: @user } %>
    <!-- Projects List -->
    <div class="bg-white w-full" data-controller='bookmarks'>
      <div class="lg:pl-4 lg:pt-8">
      <% if current_user %>
        <%= render template: "bookmarks/new" %>
      <% end %>
      
      <div data-controller="listing" data-target="listing.container">
        <%= render partial: "users/bookmarks_with_pagination" %>
      </div>
    </div>
  </div>
</div>
