<div class="bg-white">
  <div class="mt-4 lg:mt-8">
    <div class="space-y-8 sm:space-y-12">
      <div class=" text-center space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
        <h2 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl"><%= t("top_categories") %></h2>
      </div>
      <div data-controller="listing" data-target="listing.container">
        <%= render partial: "categories/list" %>
      </div>
    </div>
  </div>
</div>
