<div id="extension-banner" class="hidden md:block h-50 bg-gray-50 pr-4 sm:pr-6 lg:pr-8 lg:flex-shrink-0 lg:border-l lg:border-gray-200 xl:pr-0">
  <div class="pl-6 pr-6 lg:w-80">
    <div class="pt-6 pb-2">
      <h2 class="text-sm leading-5 font-semibold"><%= t("install_the_chrome_extension") %></h2>
    </div>
    <div class="mt-2 text-base leading-6 text-gray-500">
      <%= t('chrome_extension_description') %>
    </div>
    <div class="flex flex-col mx-auto items-left flex-shrink-0">
      <div>
        <a type='button' href="https://chrome.google.com/webstore/detail/hackershare/pinmchdpdbjbhijbagmealcojjpeebmh" class="mt-3 w-full bg-gray-200 inline-flex py-3 px-5 rounded-lg items-center hover:bg-gray-300 focus:outline-none">
          <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path d="M2.503 1.907A7.472 7.472 0 017.5 0a7.498 7.498 0 016.635 4H7.5a3.501 3.501 0 00-3.23 2.149L2.503 1.907z" fill="currentColor"></path><path d="M1.745 2.69a7.503 7.503 0 003.41 11.937l2.812-3.658a3.501 3.501 0 01-3.88-2.685.502.502 0 01-.049-.092L1.745 2.69z" fill="currentColor"></path><path d="M6.215 14.89a7.5 7.5 0 008.357-9.895A.503.503 0 0114.5 5H9.95A3.49 3.49 0 0111 7.5a3.487 3.487 0 01-.954 2.405l-3.83 4.985z" fill="currentColor"></path><path d="M5 7.5a2.5 2.5 0 115 0 2.5 2.5 0 01-5 0z" fill="currentColor"></path></svg>
          <span class="ml-4 flex items-start flex-col leading-none">
            <span class="text-xs text-gray-600 mb-1">GET IT ON</span>
            <span class="title-font font-medium">Google Play</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>