<% if flash.any? %>
  <div class="mt-2 lg:mt-4">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <% flash.each do |key, value| %>
        <% if %w[error info success].include?(key) && value.present? %>
          <div class="space-y-1 lg:space-y-2">
            <%= render "layouts/flash/#{key}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
