<footer class="my-8">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="text-base leading-6 flex justify-between lg:justify-start space-x-1">
      <span class="text-gray-400">&copy; 2020 hackershare, Inc.</span>
      <a href="https://github.com/hooopo/hackershare" class="text-gray-500 hover:text-gray-900">
        <%= t("open_source") %>
      </a>
    </div>
  </div>
</footer>
