<footer class="my-8">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="text-base leading-6 flex justify-between space-x-2">
      <div class="text-gray-400">&copy; 2020 hackershare, Inc.</div>
      <div class="space-x-1">
        <a href="<%= about_path %>" class="text-gray-500 hover:text-gray-900">
          <%= t("about") %>
        </a>
        <a href="https://github.com/hackershare/hackershare" target="_blank" class="text-gray-500 hover:text-gray-900">
          <%= t("open_source") %>
        </a>
      </div>
    </div>
  </div>
</footer>
