<footer class="my-8">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="text-base leading-6 space-x-1">
      <span class="text-gray-400">&copy; 2020 hackershare, Inc.</span>
      <a href="<%= about_path %>" class="text-gray-500 hover:text-gray-900">
        <%= t("about") %>
      </a>
      <%= link_to t("blog"), "https://blog.hackershare.dev", class: "text-gray-500 hover:text-gray-900" %>
      <a href="https://github.com/hackershare/hackershare" target="_blank" class="text-gray-500 hover:text-gray-900">
        <%= t("open_source") %>
      </a>
    </div>
  </div>
</footer>
