<% link = pagy_link_proc(pagy, '') -%>
<nav class="bg-white px-4 py-3 flex items-center justify-between border-b border-gray-200 sm:px-6">
  <div class="flex-1 flex justify-between sm:justify-end">
    <% if pagy.prev %>
      <%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150" aria-label="previous"') %>
    <% end %>

    <% if pagy.next %>
      <%== link.call(pagy.next, pagy_t('pagy.nav.next'), 'class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150" aria-label="previous"') %>
    <% end %>
  </div>
</nav>